*{
    margin: 0;
    padding: 0;
}



nav{
    display: flex;
    justify-content: space-between;
    

    li{
        margin: 4px 15px;
        cursor: pointer;
    }
   
}

.opt_ul{
    display: flex;
    justify-content: space-around;

    li{
        margin: 4px 15px;
        cursor: pointer;
    }
}




.search{
    background-image: url(../images/img1.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;    
}
label{
    font-size: 1.3rem;
    margin: 10px;
}

input{
    min-width: 250px;
    
    height: 30px;
    font-size: 1.1rem;
    border: none;
    list-style: none;
    border-radius: 2px;
    outline: none;
    padding: 2px 6px;
}



#myRecipe{
  display: flex;
  height: 25vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 2rem;
}

.button1{
     background-color: rgb(181, 142, 68);
    cursor: pointer;
    color: rgb(241, 241, 241);
    margin: 30px;
    padding: 20px;
 height: auto;
 opacity: 0.8;
    text-align: center;
}
#get{
    background-color: antiquewhite;
    cursor: pointer;
}
#get2{
    background-color: transparent;
    cursor: pointer;
    transition: all 250ms ;
    border-radius: 10px;
    border: 1px solid black;
}

#get2:hover{
    background-color:black;
    opacity: 0.5;
    color: #fff;
}
#myRecipeId{
display: flex;
height: 30vh;
align-items: center;
justify-content: center;
overflow: hidden;
}
.show{
    display: flex;
    justify-content: center; 
     align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    
}


.ul1{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.ul{
    width: 20%;
    margin: 20px;
    padding: 20px;

    li{
        list-style: none;
        text-decoration: none;
        font-size: 1.1rem;
        margin: 7px 7px 7px 0 ;
        
        
    }
    img{
        transition: 250ms ease-in;
        }
        img:hover{
            box-shadow: 10px 10px 8px #888888;
        }
}




.indiv{
    font-weight: bold;
}
.indiv2{
    font-weight: bold;
    color:white;
}






@media (max-width: 768px) {

 #myRecipe{
 
  height: auto;
  flex-direction: column;
 
  }

  .indiv{
      margin: 10px;
      align-self: center;


  }
  .indiv label{
      width: 180px;
  }
  .search{

      height: auto;
      background-size: cover;
      flex-direction: column;
  }

  #myRecipeId{
      height: auto;
      flex-direction: column;
      }
      .show{
          flex-direction: column;
      }
      .ul1{
       justify-content: center;
       flex-direction: column;
      }
      .ul{
          width: 100%;
          li{
              list-style: none;
              text-decoration: none;
              font-size: 1.1rem;
              margin: 7px 7px 7px 0 ;
          }
      }
}
.main{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    margin-top: 50px;
}




li{
    list-style: none;
    font-size: 1.1rem;
}
h2{
    margin: 3rem 0 ;
}
.first{
    width: 30%;
    overflow: hidden;
}
.second{
    width: 35%;
    text-align: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        .inside{
            width: 40%;
            margin: 10px;
        }
    }
}
.third{
    width: 30%;
}

.main_sm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}
.fourth{
    width: 48%;
    text-align: center;
    ul{
        margin: 20px 20px 20px 10px;
        text-align: left;
    }
}
.fifth{
    width: 48%;
    text-align: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;

        .inside{
            width: 30%;
            margin: 10px;
        }
    }
}
.copyBtn{
    background-color: transparent;
    outline: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 9px;
  transition: all 250ms ease-in-out;

}

 .copyBtn:hover{
        background-color:rgb(33, 148, 154);
        color: #fff;
        scale: 1.05;
        box-shadow: 10px 10px 8px #888888;
    }

    @media (max-width: 868px){
        .main{
          
            flex-direction: column;
        }
        .first, .second, .third, .fourth, .fifth{
           width: 100%; 
           text-align: center;
        }
        .main_sm{
            
            flex-direction: column;
            text-align: left;
            ul{
                margin-top: 40px;
                .inside{
                    width: 40%;
                    margin: 10px;

                    li{
                         font-size: 16px; 
                    }
                }
            }
        }
    }

   