*{
    margin: 0;
    padding: 0;
}
.search{
    background-image: url(../images/img1.jpg);
    height: 50vh;
    background-size: cover;
    
}
label{
    font-size: 1.3rem;
    margin: 10px;
}

input{
    min-width: 250px;
    
    height: 30px;
    font-size: 1.1rem;
    border: none;
    list-style: none;
    border-radius: 2px;
    outline: none;
    padding: 2px 6px;
}
#myRecipe{
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
#get{
    background-color: rgb(44, 56, 56);
    cursor: pointer;
    color: wheat;
    margin: 30px;
}
#get2{
    background-color: aqua;
}
#myRecipeId{
display: flex;
height: 30vh;
align-items: center;
justify-content: center;
}